@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
a.active hr {
  @apply block;
}

* {
  font-family: Outfit;
}

.roboto-condensed {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

@media (max-width: 640px) {
  a.active {
    background-color: black;
    color: white;
  }
}

::-webkit-scrollbar {
  display: none;
}
